body {
  background-color: #1a1825;
  min-height: 100vh;
  margin: auto;
  max-width: 42rem;
}

.name1 {
  color: #eb6f93;
  font-family: vcr osd mono;
text-align: center;
margin-top: 26%;
margin-right: 8%;
font-size: xx-large;
transition: 1s;
}

.name1:hover {
  color: #b388eb;
  transition: 1s;
}

.name2 {
  color: #b388eb;
  font-family: Dotgothic16;
text-align: center;
font-size: x-large;
margin-right: 14%;
}

@keyframes color {
    0% {
        color: #eb6f92
    }

    30% {
        color: #eb6f92
    }

    60% {
        color: #ebbcba
    }

    90% {
        color: #31748f
    }

    100% {
        color: #9ccfd8
    }
}

.name1 {
    -webkit-animation: color 20s infinite;
    animation: color 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
