body {
  background-color: #1a1825;
  min-height: 100vh;
  margin: auto;
  max-width: 42rem;
}

.name1 {
  color: #eb6f93;
  font-family: vcr osd mono;
text-align: center;
margin-top: 26%;
margin-right: 8%;
font-size: xx-large;
}

.name2 {
  color: #eb6f93;
  font-family: vcr osd mono;
text-align: center;
font-size: x-large;
margin-right: 8%;
}
