body {
  background-color: #1a1825;
  min-height: 100vh;
  margin: auto;
  max-width: 42rem;
}

h1 {
  color: #eb6f93;
  font-family: vcr osd mono;
text-align: center;
margin-top: 20%;
font-size: xx-large;
}
